body {
  overflow-y: hidden; /* This fixes a bug in Android Chrome, do NOT change or remove.  See #40 */
}

ul {
  list-style-type: none;
}

button, input {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.25em 0.5em;
  margin-left: 0.3em;
  margin-top: 0.3em;
}

.header{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 1em;
  cursor: pointer;
}

#beerlink {
  padding-top: 1em;
  float:right;
}

.footer {
  background-color: black;
  color: white;
  padding: 1em;
}

.lobbyinput {
  width: 10em;
}

.hide-chat {
  padding-top: 1px;
  float: middle;
  cursor: pointer;
}

#startbutton {
  font-size: 125%;
  padding: 0.5em;
}

#mycards {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#mycards > ul {
  display: flex;
  overflow-x: scroll;
  padding: 0;
}

#chatlink {
  background: white;
  padding: 0.5em;
  border-radius: 10px;
  float: right;
  margin-left: 0.3em;
  margin-top: 0.3em;
}

#chatlinkdropdown {
  float: right;
  margin-left: 0.3em;
  margin-top: 0.3em;
}

.card {
  min-height: 40vh;
  max-height: 45vh;
  min-width: 10vw;
  max-width: 20vw;
  border-radius: 10px;
  padding: 1em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  cursor: pointer;
  float: left;
  font-size: 120%;
}

.whitecard {
  border: 3px solid black;
}

.whitecardname {
  color: red;
}

.blackcard {
  position: fixed;
  top: 2em;
  left: 40%;
  background-color: black;
  color: white;
  border: 3px solid white;
  vertical-align: text-bottom;
}

.selected {
  background-color: #003399;
  color: white;
  border-color: white;
}

#playerlist {
  float: right;
  width: 12em;
  border: 3px solid white;
  background-color: black;
  color: white;
  border-bottom-left-radius: 10px;
  max-height: 50vh;
  overflow-y: scroll;
}

.turn {
  font-weight: bold;
}

.turn:before {
  content: "=>";
}

.turntext {
  position: fixed;
  bottom: 3em;
  left: 1em;
}

#title {
  display: inline;
}

#title {
  font-size: 300%;
}

#eggplant {
  font-size: 300%;
  animation-name: growAndBlacken;
  animation-duration: 5s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
  float: left;
}

@keyframes growAndBlacken {
  from {
    font-size: 300%;
  }
  to {
    font-size: 700%;
    filter: contrast(0) sepia(1) saturate(0) brightness(0.05);
  }
}
.version {
  position: fixed;
  left: 2em;
  right: 2em;
  bottom: 0;
}

@media (max-width: 900px) and (orientation: landscape) {
  .card {
    font-size: 80%;
    margin-bottom: -1em;
    min-width: 15vw;
  }

  .blackcard {
    left: 1em;
    width: 25vw;
    top: 0.5em;
  }

  #mycards {
    bottom: -0.5em;
  }

  .header {
    display: none;
  }

  .hide-chat{
    position: absolute;
    right: 200px;
  }
}
@media (max-width: 700px) and (orientation: portrait) {
  #mycards {
    top: 3.5em;
    bottom: 0;
    left: -0.75em;
    width: 50vw;
    overflow-y: scroll;
  }

  #mycards > ul {
    flex-direction: column;
    overflow-x: hidden;
  }

  .card {
    min-height: 12vh;
    max-height: 15vh;
    min-width: 35vw;
    max-width: 40vw;
    margin-left: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 80%;
  }

  .blackcard {
    left: 40%;
    top: 30%;
    min-height: 30vh;
    width: 40vw;
  }

  #playerlist {
    width: 40vw;
    border: 3px solid black;
  }

  #playerlist > ul, #playerlist > ul > li {
    margin-left: 0;
    padding-left: 0;
  }

  #startbutton {
    float: left;
    right: 1em;
    bottom: 1em;
  }

  .hide-chat {
    left: 45%;
    margin-left: 0;
    position: absolute;
    right: 200px;
  }

  .chatlinkinput {
    width: 70%;
  }

  .header {
    display: none;
  }
}
